<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests"
	thread-count="1" configfailurepolicy="continue">
	
	<test name="Eligibility Checker Test - Chrome" annotations="JDK"
		preserve-order="true">
		<parameter name="browser" value="chrome"/>
		
		<classes>
			<class name="MyRunner.Runner" />
		</classes>
	</test>
	<test name="Eligibility Checker Test - Firefox" annotations="JDK"
		preserve-order="true">
		<parameter name="browser" value="Firefox"/>
		
		<classes>
			<class name="MyRunner.Runner" />
		</classes>
	</test>

</suite>